PORT =3500

# database
url = mongodb://admin:admin@localhost:27017/
dbName = dev-tinder
user= devTinder
password = devTinder
hostName=localhost:27017
auth =Authentication failed.

#bcrypt 
ROUND =2

#jwt
SECRET_KEY= devTinder



ATLAS_PUBLIC_KEY=abcd1234
ATLAS_PRIVATE_KEY=superSecretKeyXYZ
ATLAS_PROJECT_ID=63f0d8e2a7e3c82d2e123456